@{
    Layout="Shared/_Layout.cshtml";
}
<p><span id="number-of-times">Number of times <span id="my-word">@Model.GetInputWord()</span> appears:</span></p>
<h1 id="counted">@Model.CountRepeats()</h1>

<p><a href="/" class="btn">count again</a></p>
