html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fa9530;
    height: 100%;
    text-transform: lowercase;
}

.container {
    width: 45%;
    text-align: center;
    background-color: #fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
}

h1 {
    font-family: 'Abel', sans-serif;
    font-size: 72px;
    text-align: center;
    padding-bottom: 0;
}

.btn {
    text-transform: lowercase;
    margin: 0 auto;
    width: 100%;
    background-color: #fa9530;
    font-size: 24px;
    font-family: 'Abel', sans-serif;
}

.btn:hover{
    background-color: #df852c;
    color: white;
}

a:visited {
    color: white;
}

p {
    padding: 0;
}

form {
    border-top: 5px solid #fa9530;
    padding: 20px 0;
}

label {
    font-style: normal;
    font-weight: normal;
}

#number-of-times {
    display: block;
    border-top: 5px solid #fa9530;
    padding-top: 20px;
    font-style: italic;
    font-size: 16px;
}

#counted {
    margin-bottom: 20px;
}

#my-word {
    font-weight: bold;
}
/*#blurb {
border-top: 5px solid #fa9530;
border-bottom: 5px solid #fa9530;
padding: 10px 15px 0px 0px;
margin-bottom: 20px;
}*/
